body {
  background-color: rgb(249, 249, 249);
}

.pic {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 255, 0.7);
  position: relative;
  left: 90px;
  top: 15px;
}

.card {
  width: 20vw;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 140px;
}

p {
  text-align: center;
  margin: 0;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}

.btns > button {
  background-color: rgb(0, 0, 255, 0.7);
  color: white;
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 255, 0.7);
  padding: 5px 15px;
}

.img {
  background-color: rgb(0, 0, 255, 0.7);
  border: 1px solid white;
  border-radius: 10px 10px 0px 0px;
  padding-top: 30px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.smbls {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 15px;
}

.main-div {
  position: relative;
  top: 30% !important;

  left: 40%;
}
